In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('ABX3_NBG.csv')

In [3]:
df

      formula        mpid spacegroup.symbol  nature of band gap
0      BaSiO3  mp-1016821             Pm-3m                   0
1      CaHfO3  mp-1016873             Pm-3m                   0
2      CdSiO3  mp-1016879             Pm-3m                   0
3      CaGeO3  mp-1016884             Pm-3m                   0
4      CdGeO3  mp-1016903             Pm-3m                   0
...       ...         ...               ...                 ...
1523  SmBiTe3  mp-1219075               R3m                   1
1524  TbBiTe3  mp-1217576               R3m                   1
1525  TmBiTe3  mp-1216578               R3m                   0
1526   YBiTe3  mp-1215930               R3m                   1
1527   AlSiP3     mp-5168              Pnma                   0

[1528 rows x 4 columns]

In [5]:
from pymatgen import MPRester

In [6]:
mpr = MPRester(MAPI_KEY) # MAPI_KEY refers to the Materials Project API key of the user

In [7]:
df['structure']=np.nan

In [8]:
for i in range(0,1528):
    df['structure'].loc[i] = mpr.get_structure_by_material_id(df['mpid'].loc[i])

C:\Users\SMARAK RATH\anaconda3\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [9]:
df

,formula,mpid,spacegroup.symbol,nature of band gap,structure
0,BaSiO3,mp-1016821,Pm-3m,0,"[[0. 0. 0.] Ba, [1.9184685 1.9184685 1.9184685..."
1,CaHfO3,mp-1016873,Pm-3m,0,"[[0. 0. 0.] Ca, [2.0525485 2.0525485 2.0525485..."
2,CdSiO3,mp-1016879,Pm-3m,0,"[[0. 0. 0.] Cd, [1.80996 1.80996 1.80996] Si, ..."
3,CaGeO3,mp-1016884,Pm-3m,0,"[[0. 0. 0.] Ca, [1.8916185 1.8916185 1.8916185..."
4,CdGeO3,mp-1016903,Pm-3m,0,"[[0. 0. 0.] Cd, [1.891245 1.891245 1.891245] G..."
...,...,...,...,...,...
1523,SmBiTe3,mp-1219075,R3m,1,"[[18.84832544 0. 2.29926905] Sm, [12..."
1524,TbBiTe3,mp-1217576,R3m,1,"[[18.88631977 0. 2.28314943] Tb, [12..."
1525,TmBiTe3,mp-1216578,R3m,0,"[[12.63684106 0. 1.49823656] Tm, [19..."
1526,YBiTe3,mp-1215930,R3m,1,"[[18.87785444 0. 2.27935381] Y, [12...."
1527,AlSiP3,mp-5168,Pnma,0,"[[0. 0. 0.] Al, [2.949795 3.071257 4.9532445..."

In [10]:
from matminer.utils.io import store_dataframe_as_json
store_dataframe_as_json(df, 'ABX3.json')